


.sc{
  position: relative;
  /*max-width: 90%;*/
  /*overflow: visible;*/
}


.carousel_wrapper {
position: relative;
  width: 200px;
  margin: 50px auto;
  perspective: 8000px;
  /* position: relative; */
  width: 200px;
  /* height: 150px; */
  margin: 10px auto 247px auto;
  perspective: 6000;
}
.carousel {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transform: rotateY(-360deg) translateZ(-250px); /* add reverse transformation from the slides */
  /*animation: swirl 40s linear infinite;*/
  animation: swirl 15s linear infinite;
  position: absolute;
  height: 100%;

}
.slide {
  position: absolute;
  width: 130px;
  height: 120px;
  transform-origin: center;
  position: absolute;
  top: 30px;
  left: 10px;
width: 100px;
height: 70px;
}
.slide img {

  width: 160px;
height: 140px;  
/*  box-shadow: 0 0 15px 3px rgba(110, 72, 221, 0.9);
box-shadow: 
  0 0 10px rgba(255, 223, 0, 0.8),  
  0 0 0px rgba(255, 140, 0, 0.2),   
  0 0 15px rgba(255, 215, 0, 0.6),   
  0 0 10px rgba(255, 255, 102, 0.5)!important;*/
}
@keyframes swirl {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}
.carousel:hover{
animation-play-state: paused;
cursor: pointer;
}
